###> editor ###
.vscode
###< editor ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
*.pem
/public
###> app ###
/pdf
###< app ###
*.env
composer.json
composer.lock
symfony.lock